fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
openai
langgraph>=1.2.2
langchain
langchain-core
langchain-openai
langgraph-checkpoint-postgres
qdrant-client
psycopg[binary]
httpx
langfuse
dash
requests
datasets
ragas
pandas
openpyxl
unstructured-client
